__pycache__/
*.py[cod]
*.pyo

venv/
env/
.venv/
.env/

build/
dist/
*.egg-info/

.vscode/
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace
tempCodeRunnerFile.py

.DS_Store
Thumbs.db
.env
*.env

*.exe
*.dll
*.pyd
*.obj
*.o
*.so
*.out
/build/

Test/